{% extends "base.html.twig" %}

{% block body %}
    
    <div class="row">
        <h2>Top Wallpapers for Abstract</h2>
        
        {% include 'home/best-in-category.html.twig' with { 'images': abstract } %}
    </div>
    
    <div class="row">
        <h2>Top Wallpapers for Summer</h2>
        
        {% include 'home/best-in-category.html.twig' with { 'images': summer } %}
    </div>
    
    <div class="row">
        <h2>Top Wallpapers for Winter</h2>
        
        {% include 'home/best-in-category.html.twig' with { 'images': winter } %}
    </div>
    
    <div class="row">
        <h2>Random images</h2>
        
        {% for image in randomized_images %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="/images/{{ image }}" alt="..." />
                </div>
                
            </div>
            
        {% endfor %}
        
    </div>
    
{% endblock %}